* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
}
img {
  width: 95px;
  height: 95px;
}
.container {
  height: 60vh;
  width: 30vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}
.box {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 100px;
  left: 100px;
  /*transform: rotate(-50deg);*/
  transform-style: preserve-3d;
}
.card {
  height: 250px;
  width: 250px;
  align-items: center;
  padding: 100px 0px;
  box-sizing: border-box;
  position: absolute;
}
#left {
  right: 125px;
  transform: rotateY(-90deg);
}
#right {
  left: 125px;
  transform: rotateY(90deg);
}
#top {
  bottom: 125px;
  transform: rotateY(90deg);
}
#bottom {
  top: 125px;
  transform: rotateY(-90deg);
}
