@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Playwrite+HU:wght@100..400&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
/*universal styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    overflow-x: hidden;
  }
    body {
      background-image: linear-gradient(to right, #decdae ,#ffd3dd);
      color: black;
      font-family: "Karla", sans-serif;
      font-size: 1.2rem;
      height: 100vh;
      overflow: hidden;
      width: 100%; 
    }
a{
  font-family: "Karla", sans-serif;
  text-decoration: none;
}

ul{
  list-style: none;
}
/*navigation styles*/
nav{
  height: 10vh;
  position: sticky;
  width: 100%;
}
.nav-container{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}
.logo{
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.logo span{
  color: #55768c;
}
.menu, .cancel{
  color: #decdae;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 10px;
}
.nav-container .links{
  align-items: center;
  display: flex;
  gap: 3rem;
}
.nav-container .links a{
  color: #92a1c5;
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
  transform: .3s linear;
}
.nav-container .links a::before{
  background-color: #f3a0ad;
  bottom: -3px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: .3s linear;
  width: 0%;
}
.nav-container .links a:hover::before{
  width: 100%;
}
.nav-container .links a:hover{
  color: #55768c;
}
.dropdown{
  backdrop-filter: brigthness(10%)blur(40px);
  box-shadow: 0 0 20px #372d35;
  height: auto;
  position: absolute;
  top: 0;
  transform: translateY(-500px);
  transition: .2S linear;
  width: 100%;
  z-index: 100;
}
.dropdown .links a{
  align-items: center;
  color: #f3a0ad;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  transition: .2s linear;
}
.dropdown .links a:hover{
  background-color: #faded2;
}

/*home section */
section{
  height: 90vh;
  width: 100%;
}
.main-container{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}
.main-container .image{
  width: 50%;
  z-index: 1;
}
.main-container .image img{
  width: 100%;
}
.main-container .content{
  color: #372d35;
  height: 100px;
  width: 40%;
}
.content h1{
  font-size: clamp(1rem, 2rem + 5vw, 3rem);
}
.content h1 span{
  color: #faded2;
  text-shadow: 0 0 10px #f3a0ad;
}
.content .typewriter{
  font-size: clamp(1rem, 1rem + 5vw, 3rem);
  font-weight: 600;
}
.content .typewriter span{
  color: #faded2;
  font-size: 2.5rem;
  position: relative;
  text-shadow: 0 0 5px #f3a0ad;
  transition: .3s linear;
}
.typewriter span::before{
  animation: words 15s infinite;
  content: 'Web Dev';
}
.typewriter span::after{
  animation: cursor .6s linear;
  border-left: 3px soild #55768c;
  content: '';
  height: 100%;
  position: absolute;
  width: calc(100% + 8px);
}