@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Pacifico&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
/*universal styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  background-image: linear-gradient(to right, #decdae, #ffd3dd);
  color: #372d35;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.title {
  color: #55768c;
  font-family: "Winky sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}
/*navigation styles*/
nav {
  height: 10vh;
  position: sticky;
  width: 100%;
}
.nav-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}
.logo {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.logo span {
  color: #55768c;
  font-family: "Winky sans", sans-serif;
}
.menu,
.cancel {
  color: #55768c;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 10px;
}
.nav-container .links {
  align-items: center;
  display: flex;
  gap: 3rem;
}
.nav-container .links a {
  color: #92a1c5;
  font-family: "Pacifico", cursive;
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
  transition: 0.3s linear;
}
.nav-container .links a::before {
  background-color: #f3a0ad;
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transition: 0.3s linear;
  width: 0%;
}
.nav-container .links a:hover::before {
  width: 100%;
}
.nav-container .links a:hover {
  color: #55768c;
}
.dropdown {
  backdrop-filter: brightness(40%) blur(10px);
  box-shadow: 0 0 20px #372d35;
  height: auto;
  position: absolute;
  top: 0;
  transform: translateY(-500px);
  transition: 0.2s linear;
  width: 100%;
  z-index: 100;
}
.dropdown .links a {
  align-items: center;
  color: #f3a0ad;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  transition: 0.2s linear;
}
.dropdown .links a:hover {
  background-color: #ffe5ec;
}

/*home section */
section {
  height: 90vh;
  width: 100%;
}
.main-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}
.main-container .image {
  width: 50%;
  z-index: 1;
}
.main-container .image img {
  width: 100%;
}
.main-container .content {
  color: #372d35;
  height: 100px;
  margin-top: -240px;
  width: 40%;
}
.content h1 {
  font-size: clamp(0.5rem, 1rem + 5vw, 2rem);
}
.content h1 span {
  color: #ffe5ec;
  font-family: "Winky sans", sans-serif;
  text-shadow: 0 0 10px #f3a0ad;
}
.content .typewriter {
  font-size: clamp(1rem, 1rem + 5vw, 1.5rem);
  font-weight: 600;
}
.content .typewriter span {
  color: #ffe5ec;
  font-family: "Winky sans", sans-serif;
  font-size: 2rem;
  position: relative;
  text-shadow: 0 0 5px #f3a0ad;
  transition: 0.3s linear;
}
.typewriter span::before {
  animation: words 5s infinite;
  content: "Web Dev";
}
.typewriter span::after {
  animation: cursor 0.6s linear;
  border-left: 3px solid #55768c;
  content: "";
  height: 100%;
  position: absolute;
  width: calc(100% + 8px);
}
@keyframes cursor {
  to {
    border-left: 3px solid #55768c;
  }
}
@keyframes words {
  0%,
  33% {
    content: "Web Dev";
  }
  34%,
  66% {
    content: "Techie";
  }
  67%,
  100% {
    content: "Web Dev";
  }
}
.content p {
  font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
  margin: 10px 0;
}
.social-links i {
  align-items: center;
  background-color: transparent;
  border: 0.2rem solid #f3a0ad;
  border-radius: 50%;
  color: #55768c;
  display: inline-flex;
  font-size: 1.2rem;
  height: 3rem;
  justify-content: center;
  margin: 5px 10px;
  transition: 0.2s linear;
  width: 3rem;
}
.social-links i:hover {
  background-color: #f3a0ad;
  color: #55768c;
  filter: drop-shadow(0 0 10px #f3a0af);
  rotate: 45deg;
}
.content button {
  background-color: #55768c;
  border: none;
  border-radius: 5px;
  color: #decdae;
  cursor: pointer;
  font-size: 100%;
  font-weight: 700;
  height: 6vh;
  margin: 30px;
  outline: none;
  transition: 0.2s linear;
  width: 40%;
}
.content button:hover {
  background-color: transparent;
  border: 2px solid #55768c;
  color: #f3a0ad;
  font-weight: 800;
  scale: 1.1;
}
/*end home*/

/*portfolio section*/
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.project {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.project img {
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  width: 100%;
}
.project:hover img {
  transform: scale(1.1);
}
.project:hover .layer {
  height: 100%;
}
.layer {
  align-items: center;
  background-image: linear-gradient(to right, #decdae, #ffd3dd);
  bottom: 0;
  border-radius: 10px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  height: 0;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 0 40px;
  position: absolute;
  text-align: center;
  transition: height 0.5s;
  width: 100%;
}
.layer a {
  background-color: transparent;
  border: 4px solid #55768c;
  border-radius: 50%;
  color: #f3a0ad;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
  text-align: center;
  width: 60px;
}
.layer a:hover{
  background-color: #f3a0ad;
    color: #55768c;
    filter: drop-shadow(0 0 10px #f3a0af);
    rotate: 45deg;
}
.layer h3 {
  color: #55768c;
  font-weight: 700;
  margin-bottom: 20px;
}

/*skills section*/
.skills{
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
  color: #55768c;
  margin: 60px auto;
  padding: 20px;
  width: 500px;
}
.skills li{
  margin: 30px 0;
  padding: 15px;
}
.skills h3{
  margin: 5px;
}
.bar{
  background-color: #ffd3dd;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  display: block;
  height: 20px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
  cursor: pointer;
}
.bar span{
  background-color: #decdae;
  float: left;
  height: 20px;
}
.html{
  animation: html 3s;
  width: 95%;
}
.css {
  animation: css 3s;
  width: 95%;
}
.js {
  animation: js 3s;
  width: 70%;
}
.react {
  animation: react 3s;
  width: 50%;
}
.electron {
  animation: electron 3s;
  width: 50%;
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 95%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}
@keyframes electron {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}
footer{
  background-color: #decdae;
}
.footContainer{
  padding: 70px 30px 20px;
  width: 100%;
}
.socials{
  display: flex;
  justify-content: center;
}
.socials i{
  background-color: transparent;
  border: 0.2rem solid #f3a0ad;
  border-radius: 50%;
  color: #92a1c5;
  font-size: 1.2rem;
  margin: 10px;
  padding: 12px;
}
.socials i:hover{
  background-color: #f3a0ad;
    color: #55768c;
    filter: drop-shadow(0 0 10px #f3a0af);
    rotate: 45deg;
}
.footerNav{
  margin: 30px 0;
  margin-top: -5px;
}
.footerNav ul{
  display: flex;
  justify-content: center;
}
.footerNav ul li a{
  color: #55768c;
  font-family: "Pacifico", cursive;
  font-size: 1.3rem;
  margin: 20px;
  opacity: .8;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  color: #372d35;
  margin-top: -50px;
  padding: 20px;
  text-align: center;
}

@media (max-width: 480px) {
  body {
    overflow-y: visible;
  }

  nav {
    font-size: 1.5rem;
    left: 15px;
    position: absolute;
    top: 16px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .nav-container .links {
    display: none;
  }

  .menu,
  .cancel {
    display: block;
  }

  .main-container .content {
    width: 80%;
  }

  .social-links i {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  .main-container .image {
    margin-bottom: 0px;
    width: 80%;
  }

  .container {
    margin-top: 420px;
    padding: 20px;
  }

  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 23px;
  }
    .project img {
      height: 160px;
      width: 160px;
    }
  .layer {
    padding: 0 20px;
  }

  .layer a {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-top: 20px;
  }

  .layer h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .skills {
    margin-bottom: 5rem;
    width: 90%;
    padding: 15px;
  }

  .skills li {
    margin: 20px 0;
    padding: 10px;
  }

  .skills h3 {
    font-size: 1rem;
  }

  /* Footer responsive */
  .footerNav ul {
    flex-direction: column;
    align-items: center;
  }

  .footerNav ul li {
    margin: 10px;
    text-align: center;
    width: 100%;
  }

  .footerNav ul li a {
    font-size: 1.1rem;
    margin: 10px;
  }

  .socials {
    flex-wrap: wrap;
  }

  .socials i {
    font-size: 15px;
    padding: 5px;
  }

  .footContainer {
    padding: 3cqi;
  }
  .footerBottom{
    font-size: 15px;
    margin-top: 10px;
  }
}

/*end responsive*/