@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: lavenderblush;
}
/* navbar */
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: darkorchid;
    color: lavenderblush;
    padding: 10px 10px;
    border-radius: 5px;
    border: darkorchid;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: blanchedalmond;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .navlink{
    display: none;
    position: absolute;
    background-color: mediumpurple;
    min-width: 100px;
    box-shadow: 2px 2px 5px lavenderblush;
}
.dropdown:hover .navlink{
    display: block;
}
.dropdown:hover button{
    background-color: darkmagenta;
    scale: 1.2;
}
.dropdown a:hover{
    background-color: blueviolet;
    box-shadow: 2px 2px 5px lavenderblush;
    scale: 1.2;
}
/* Home page */
.container{
    display: flex;
    justify-content: center;
}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px plum;
    overflow: hidden;
}
img{
    height: 500px;
    width: 350px;
    border-radius: 3px;
}
.text{
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background: transparent;
    color: black;
}
h1{
    margin: 15px;
    font-size: 40px;
}
.text p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
.card :hover{
    cursor: pointer;

}
.card:hover .text{
    height: 220px;
    bottom: 240px;
    background: transparent;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
/**About **/
.name{
    color: black;
    text-transform: uppercase;
}
.box{
    display: grid;
    grid-column: 100px;
    grid-row: 150px;
}
/** footer **/
footer{
    background-color: plum;
    position: fixed;
}
.quote{
    color: black;
    font-size: 5px;
}
/**Scrollbar**/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: lavenderblush;
}
::-webkit-scrollbar-thumb{
    background:plum;
    border-radius: 10px;
}