@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all-css");
body{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #eeeeee;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/**dark mode button**/
label{
    background-color: #222;
    display: inline-block;
    margin-bottom: -1rem;
    margin-left: 15rem;
    width: 50px;
    height: 34px;
    border-radius: 56px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease background-color;
}
.toggle{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
}
.toggle input[type="checkbox"]{
    opacity: 1;
    width: 0;
    height: 0;
}
input:checked .toggle{
    background-color: white;
}
input:checked .toggle::before{
    background-color: black;
}
.dark-mode{
    background-color: #222;
    color: #eeeeee;
}
/** calculator**/
.container{
     background: transparent;
     box-shadow: 0 8px 32px 0 #1f26875e;
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     border-radius: 10px;
     border: 1px solid #ffffff2e;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: aqua;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0;
    border-radius: 15px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: aqua;
}
form .display input{
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.op{
    color: deeppink;
}
form input.eql{
    width: 145px;
}